.about-container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: scroll;
  background-image: url("https://images.pexels.com/photos/1933320/pexels-photo-1933320.jpeg");
  background-size: cover;
}

.card {
  width: 100%; /* Use 100% width for cards on small screens */
  max-width: 400px; /* Limit card width on larger screens */
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.card-holder {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
  gap: 25px;
  justify-content: center;
}

.text-container h1 {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.text-container p {
  color: white;
  text-align: center;
}

.card-container h1 {
  color: black;
}

.card-container p {
  color: black;
}

p {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100%;
  max-width: 200px; /* Limit image width on larger screens */
  height: auto; /* Maintain image aspect ratio */
}

.card-container h1 {
  white-space: nowrap;
  color: black;
  margin: 0;
}

.social-links {
  display: flex;
  gap: 10px;
}

/* Media queries for responsiveness */

@media screen and (min-width: 768px) {
  .about-container {
    gap: 50px;
  }

  .card {
    width: calc(33.33% - 50px); /* Three cards per row on larger screens */
  }

  .text-container h1 {
    color: white;
    text-align: center;
    margin-top: 0em;
  }
}
