.about-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow: scroll;
  background-image: url("https://images.pexels.com/photos/1933320/pexels-photo-1933320.jpeg");
  background-size: cover;
}

.card {
  width: 5em;
  height: 5em;
  padding: 10em 10em;
  background-color: white;
  border-radius: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.card-holder {
  display: flex;
  gap: 25px;
}

.text-container h1 {
  color: white;
}

.text-container p {
  color: white;
}
.card-container h1 {
  color: black;
}

.card-container p {
  color: black;
}
p {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 60%;
  height: 60%;
}

.card-container h1 {
  white-space: nowrap;
  color: black;
  margin: 0;
}

.social-links {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .text-container{
    
  }
}

@media screen and (max-width: 480px) {
  .text-container{
    color: black;
  }
}
